body{
    background-color: #FFFFFF;
    margin: 0;
    font-family: "Helvetica", Arial, Helvetica, sans-serif;
    margin: 40px;
}
h1{;
    background-color: #E5F4E3;
}
p{
    font-family: "Arial", sans-serif;
}
ul{
    list-style-type:none;
    text-align: left;
    padding-left: 0;
}
a{
    text-decoration: none;
    text-decoration-color: black;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #E5F4E3;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100vw;
    color: #fff;
}